<html>
  <head>
    <h2>BattleShip</h2>
  </head>
  <body>
    <table>
      <tr>
        <td></td>
      <% build_x_legend.each do |legend| %>
        <td><%= legend %></td>
      <% end %>
      </tr>
      <% build_all_rows.each do |legend, row| %>
        <tr>
          <td><%= legend %></td>
          <% row.each do |position_status| %>
            <td><%= ICON_MAPPING[position_status] %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </body>
</html>